<a href="https://colab.research.google.com/github/ashwinramaswamy92/Python-Tutorials/blob/master/MA_T4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practice Problems

In this session we will address unsolved exercises so far, and some new additional exercises on things we have already learned.

<h3> Exercise 1 </h3>

Write a program that takes as input an integer, and prints out its multiplication table till x 20.


**SAMPLE OUTPUT:**
```
Enter a number, good user: 3

3 x 1 = 3
3 x 2 = 6
.
.
.
3 x 20 = 60
```
&nbsp;


<h3> Exercise 2 </h3>

Create a list of even non-negative integers upto and including 300. Out of these, print the numbers divisible by 5 and less than 151.

**Some tips:**

1. We know how to use the range() function to create a range object containing a number sequence. To convert a range to a list use: ```list(range(a,b,c))```.

2. In a loop if you use the ```break``` statement, the loop will be exited. 
For example:
```
for i in range(20):
  print(i)
  if(i > 15):
  break
print(i)
```

Run this and notice how the loop ends prematurely. This can help save time and avoid unnecessary repetition.

&nbsp;

<h3> Exercise 3 </h3>

Write a recursive function that takes an input positive integer n, and returns the sum of integers from 0 to n (inclusive). Eg: if the input is 10, the sum of all integers from 0 to 10 is 255.

<h3> Exercise 4 </h3>

Write a recursive function that takes as input a positive integer n, and returns the fibonnacci sequence with the first n elements.